/*Reset css*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* Header */

.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
}

.logo {
  color: rgb(252, 252, 252);
  padding: 20px;
}

/* nav */

.nav {
  margin-right: 10px;
}

.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__contendor__item {
  list-style: none;
}

.nav__contendor__item__link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 20px;
}

.nav__contendor__item__link:hover {
  background: linear-gradient(to top, yellow, red);
  color: transparent;
}
