/*Reset css*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/*HTML*/
body {
  background-color: #292929;
}

/* Header */

.header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
}

.logo {
  color: rgb(252, 252, 252);
  padding: 20px;
}

/* nav */

.navbar {
  margin-right: 10px;
  background-color: #292929;
  color: #fff;
}

.container {}

.nav__contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__contendor__item {
  list-style: none;
}

.nav__contendor__item__link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 20px;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.nav__contendor__item__link:hover {
  background: linear-gradient(to top, yellow, red);

  color: transparent;
}

/*   Main   */

.main {
  background-image: url(../images/gimnasio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main__contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 94px;
  font-weight: 700;
  color: white;
}

.parrafo {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

/*   footer  */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__contenedor {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__contenedor__titulo {
  font-size: 25px;
  font-weight: 400;
}

.footer__contenedor__link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.footer__contenedor__parrafo {
  font-size: 16px;
  font-weight: 400;
}

.texto-centrado {
  text-align: center;
}

.footer__contenedor__iconos {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  background-color: #292929;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
}

.copyright {
  background-color: #292929;
  color: #fff;
}

/*PAGE NOSOTROS*/

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__contenedor__nosotros {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: #d9d9d9;
  color: #fff;
}

.main__contenedor__imagen {
  background-image: url("../images/fotomainnosotros.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom, left;
  width: 50%;
  height: 100vh;
}

.main__contenedor__textos {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__container__titulo {
  font-size: 20px;
  margin-bottom: 6rem;
  color: rgb(55, 55, 55);
}

.main__container__parrafo {
  font-size: 16px;
  text-align: center;
  width: 80%;
  color: black;
}

/*PAGE TRAINERS*/

/*MAIN*/
.h2 {
  color: #d9d9d9;
}

.img-fluid {
  margin-top: 10px;
}

.main--bgcolor {
  background-color: #292929;
}

.card1 {
  width: 20%;
  margin: 60px;
  border-radius: 6px;
  overflow: hidden;
  background: #d9d9d9;
  box-shadow: 0px 1px 10px rgba(227, 227, 227, 0.5);
}


.card2 {
  width: 20%;
  margin: 60px;
  border-radius: 6px;
  overflow: hidden;
  background: #d9d9d9;
  box-shadow: 0px 1px 10px rgba(227, 227, 227, 0.5);
}



.card3 {
  width: 20%;
  margin: 60px;
  border-radius: 6px;
  overflow: hidden;
  background: #d9d9d9;
  box-shadow: 0px 1px 10px rgba(227, 227, 227, 0.5);
}


/*PAGE CONTACTO*/

.container {
  background-color: #292929;
}

.form {
  width: 50%;
  background-color: #292929;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;

}

.mb-3 {
  color: #d9d9d9;
  text-align: left;
}

.form-control {
  background-color: #292929;
}

.btn {
  appearance: none;
  background-color: transparent;
  border: 0.125em solid #fe5703;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #d9d9d9;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
}

.btn:hover {
  color: #d9d9d9;
  background-color: #fe5703;
  box-shadow:rgb(254, 87, 3);
  transform: translateY(-2px);
  border: none;
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/*PAGE PLANES*/

.h2__titulo{
  color: #d9d9d9;
}

.card__planes{
  width: 20%;
  margin: 60px;
  border-radius: 6px;
  overflow: hidden;
  background: #d9d9d9;
  box-shadow: 0px 1px 10px rgba(227, 227, 227, 0.5);
  cursor: default;
  transition: all 400ms ease;
}

.card__planeshover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3%);
}
