/*PAGE CONTACTO*/
.contact {
  width: 100%;
  margin: 0 auto;

  .contact__container {
    margin-top: 2rem;
    display: flex;
  }

  &__form {
    width: 50%;
    background-color: $bg-color-dark;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    color: $text-color;
  }
  
  &__mapa {
    width: 50%;
  }
}

.mb-3 {
  text-align: left;
}

select {
  display: block;
  width: 100%;
  background-color: $bg-color-dark;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  color: $text-color;
}

.form-control{
  background-color: $bg-color-dark;
  color: $text-color;
}



@media screen and (max-width: 992px) {
  .contact__container {
    flex-direction: column;
  }

  .contact__form {
    width: 100%;
  }

  .contact__mapa {
    width: 100%;
    height: 500px;
  }
}
